@use "positions" as pos;
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$primary-red : rgb(215, 70, 70);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", serif;

}

.container {
    width: 100%;
    height: 100vh;
    background-color: red;
}

.header {
    @include pos.center;
    width: 100%;
    height: 68px;
    background-color: white;
    padding: 0px 50px;
    justify-content: space-between;

    img {
        width: 50px;
        height: 50px;
    }

    .icon_list {
        display: flex;
        gap: 20px;
        align-items: center;

        div {
            position: relative;
            @include pos.center;


            i {
                position: absolute;
                right: 10px;
                cursor: pointer;
            }

            input {
                position: absolute;
                right: 0;
                outline: none;
                height: 35px;
                border: none;
                border-bottom: 1px solid black;
                padding-left: 5px;
                width: 0px;
                opacity: 0;
            }

        }
    }
}

nav {
    @include pos.center;

    ul {
        @include pos.center;
        justify-content: space-between;
        gap: 25px;
        list-style: none;
        font-size: 16px;

        li {
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                color: rgb(215, 70, 70);
            }
        }
    }
}

.opened {
    animation: right-to-left 2s ease-in-out;
    animation-fill-mode: forwards;
}

.closed {
    animation: left-to-right 2s ease-in-out;
    animation-fill-mode: forwards;
}

.after-header {
    width: 100%;
    height: 40%;
    background-color: white;
    @include pos.center;
    gap: 5px;
    flex-direction: column;

    p {
        font-size: 31px;
        font-family: "Ubuntu", sans-serif;
    }

    h1 {
        font-family: "Freeman", sans-serif;
        color: rgb(215, 70, 70);
        font-size: 90px;
    }

    .search_bar {
        width: 60%;
        height: 70px;
        border-radius: 15px;
        margin-top: 35px;
        display: flex;
        overflow: hidden;
        border: 1px solid $primary-red;

        button {
            background-color: $primary-red;
            color: white;
            font-size: 25px;
            gap: 10px;
            transition: .2s ease-in;
            cursor: pointer;

            &:hover {
                background-color: rgba(215, 70, 70, 0.8933);
            }

            @include pos.center;

            i {
                font-size: 17px;
            }
        }

        select,
        input,
        button {
            width: 25%;
            outline: none;
            border: none;
            padding: 0px 10px;
            text-align: left;

        }

        select {
            font-size: 1.15rem;
            padding-left: 40px;
            padding-right: 15px;
            color: #000;
            cursor: pointer;

            option {
                margin-top: 400px;
            }
        }

        #option_null {
            display: none;
        }

        .select_model {
            pointer-events: none;
            background-color: rgba(128, 128, 128, 0.23);
            opacity: .7;
        }

        .enabled_select {
            pointer-events: all;
            background-color: transparent;
            opacity: 1;
        }
    }
}






@keyframes right-to-left {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 250px;
    }
}

@keyframes left-to-right {
    0% {
        opacity: 1;
        width: 250px;
    }

    100% {
        opacity: 0;
        width: 0;
    }
}