@use "positions" as pos;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Oswald:wght@200..700&display=swap');

$primary-red : rgb(215, 70, 70);

@mixin xl1400 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: 926px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 720px) {
        @content;
    }
}

@mixin xmd {
    @media screen and (max-width: 510px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 378px) {
        @content;
    }
}

#root{
    height: fit-content;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", serif;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.header {
    @include pos.center;
    width: 100%;
    height: 68px;
    background-color: white;
    padding: 0px 50px;
    justify-content: space-between;

    @include xmd {
        padding: 0px 10px;
    }

    img {
        width: 50px;
        height: 50px;
    }

    #menu {
        display: none;

        @include md {
            display: block;
            margin-right: 10px;
        }
    }

    #cart {
        @include md {
            margin-right: 30px;
        }
    }

    .icon_list {
        display: flex;
        gap: 20px;
        align-items: center;

    }

    div {
        position: relative;
        @include pos.center;

        i {
            right: 10px;
            cursor: pointer;
        }

        input {
            position: absolute;
            right: 0;
            outline: none;
            height: 35px;
            border: none;
            border-bottom: 1px solid black;
            padding-left: 5px;
            width: 0px;
            opacity: 0;
        }
    }
}

.nav_menu {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    animation: appear 1s;

    #x {
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        z-index: 1000;
    }

    @include pos.center;

    ul {
        flex-direction: column;
        text-align: left;
        color: black;

        li {
            font-size: 20px;
            text-align: left;

            a {
                color: black
            }
        }
    }
}

nav {
    @include pos.center;

    @include md {
        display: none
    }

    #x {
        display: none;
    }

    ul {
        @include pos.center;
        justify-content: space-between;
        gap: 25px;
        list-style: none;
        font-size: 16px;
        color: black;

        li {
            cursor: pointer;
            transition: .3s ease-in-out;

            a {
                color: #000;
                transition: .2s ease-in;
                &:hover{
                    color: $primary-red;
                }
            }

            &:hover {
                color: rgb(215, 70, 70);
            }
        }
    }
}

.opened {
    animation: right-to-left 2s ease-in-out;
    animation-fill-mode: forwards;
}

.closed {
    animation: left-to-right 2s ease-in-out;
    animation-fill-mode: forwards;
}

.after-header {
    width: 100%;
    height: 40%;
    background-color: white;
    @include pos.center;
    gap: 5px;
    flex-direction: column;

    @include xmd {
        padding-top: 30px;
        height: 50%;
    }

    p {
        font-size: 31px;
        font-family: "Ubuntu", sans-serif;

        @include lg {
            font-size: 25px;
        }

        @include md {
            font-size: 17px;
        }

        @include sm {
            font-size: 13px;
        }
    }

    h1 {
        font-family: "Freeman", sans-serif;
        color: rgb(215, 70, 70);
        font-size: 90px;

        @include lg {
            font-size: 65px;
        }

        @include md {
            font-size: 50px;
        }

        @include xmd {
            font-size: 35px;
        }

        @include sm {
            font-size: 28px;
        }
    }

    .search_bar {
        width: 60%;
        height: 70px;
        border-radius: 15px;
        margin-top: 35px;
        display: flex;
        overflow: hidden;
        border: 1px solid $primary-red;

        @include xl1400 {
            width: 80%;
        }

        @include md {
            width: 90%;
        }

        @include xmd {
            flex-direction: column;
            height: fit-content;
        }



        select,
        input,
        button {
            width: 25%;
            outline: none;
            border: none;
            padding: 0px 10px;
            text-align: left;

            @include xl1400 {
                font-size: 11px;
            }

            @include md {
                width: 30%;
            }

            @include xmd {
                height: 100px;
                width: 100%;
            }
        }

        button {
            background-color: $primary-red;
            color: white;
            font-size: 14px;
            gap: 10px;
            transition: .2s ease-in;
            cursor: pointer;

            &:hover {
                background-color: rgba(215, 70, 70, 0.8933);
            }

            h2 {
                @include md {
                    display: none;
                }

                @include xmd {
                    display: block
                }
            }

            @include pos.center;

            i {
                font-size: 13px;
            }

            @include md {
                width: 10%;
            }

            @include xmd {
                width: 100%;
            }
        }

        select {
            font-size: 1.15rem;
            padding-left: 40px;
            padding-right: 15px;
            color: #000;
            cursor: pointer;
        }

        #option_null {
            display: none;
        }

        .select_model {
            pointer-events: none;
            background-color: rgba(128, 128, 128, 0.23);
            opacity: .7;
        }

        .enabled_select {
            pointer-events: all;
            background-color: transparent;
            opacity: 1;
        }
    }
}


option {
    cursor: pointer;
}

#CarList {
    position: relative;
    margin-top: 50px;;
    width: 100%;
    height: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    padding-bottom: 50px;
    gap: 20px;
    @include pos.center;
}

.carModel {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: rgba(251, 250, 250, 0.753);
    border-radius: 10px;
    color: $primary-red;
    position: relative;
    border: 1px solid red;
    box-shadow: 2px 1px 10px solid red;
    transition: .5s ease-in-out;

    @include sm{
        width: 100%;
    }

    button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 100px;
        height: 30px;
        background-color: yellow;
        border-radius: 30px;
        background-color: white;
        color: black;
        border: .2px solid red;
        cursor: pointer;
        transition: .4s ease;
        &:hover{
            background-color: $primary-red;
        }

        &:hover > a{
            color: white;
        }

        a{
            display: block;
            width: 100%;
            height: 100%;
            @include pos.center;
        }
        
    }

    i{
        position: absolute;
        z-index: 20;
        right: 10px;
        bottom: 40%;
        color: white;
    }

    h5{
        position: absolute;
        z-index: 2;
        bottom: 40%;
        right: 35px;
        color: $primary-red;
    }

    h6 {
        margin-left: 10px;
        margin-top: 10px;
    }

    h2 {
        position: absolute;
        z-index: 20;
        background-color: white;
        top: 10px;
        font-size: 14px;
        right: 10px;
        padding: 5px 10px;
        border-radius: 20px;
        text-align: left;
    }


    .info {
        position: absolute;
        top: 50%;
        z-index: 20;
        width: fit-content;
        display: flex;
        justify-content: start;
        text-align: left;
        flex-direction: column;
        padding-top: 10px;
        align-items: center;
        left: 0px;
        gap: 10px;
    }

    a{
        width: 100%;
        height: 100%;
        color: $primary-red;
    }

    h6 {
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 5;
        background-color: $primary-red;
        color: white;
    }

    h3 {
        font-size: 12px;
        background-color: white;
        padding: 10px 10px;
        border-radius: 10px;

    }

    h4 {
        font-size: 12px;
        position: absolute;
        bottom: 15px;
        left: 10px;

        @include sm {
            font-size: 10px;
        }
    }

    img {
        pointer-events: none;
        width: 100.7%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 1;
        top: 0;
        height: 61%;
        margin-top: -1px;
    }
}

.ProductPage{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    padding: 20px 80px;
    @include md{
        padding: 20px 40px;
    }
    @include sm{
        padding: 10px 5px;
    }

}
#list{
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.productimg{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('../photos/modul.jpg');
    background-attachment: fixed;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include pos.center;
    color: white;
    font-size: 50px;
    @include md{
        font-size: 30px;
    }
    @include sm{
        font-size: 15px;
    }
    h1{
        z-index: 5;
    }
}

.btnnext{
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 15px;
    height: 60px;
    cursor: pointer;
    width: 100%;
    background-color: $primary-red;
    color: white;
    border: none;
    display: none;
}

.donebtn{
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    padding-bottom:80px;
    @include md{
        width: 350px;
        height: 60px;
        font-size: 30px;
        padding: 0px;
    }

    @include sm{
        width: 80%;
    }
}
.ProductPage{
    width: 100%;
    min-height: 100vh;
}

.scrl{
    display: none;
}

#scrl{
    display: block;
    background-color: $primary-red;
    width: 50px;
    padding: 20px;
    @include pos.center;
    border: none;
    color: white;
    border-radius: 50%;
    height: 50px;
    font-size: 30px;
    font-weight: 900;
    right: 20px;
    bottom: 25px;
    cursor: pointer;
    transition: .3s ease;
    position: fixed;
    @include md{
        right: 20px;
    }
    &:hover{
        background-color: rgb(205, 49, 49);
    }
}
#overlay{
    width: 100%;
    height: 100%;
    background-color: #0000007b;
    position: absolute;
    top: 0;
    left: 0;
    @include pos.center;
    color: white;
    font-size: 40px;
    gap: 20px;
    @include lg{
        font-size: 25px;
    }

    @include md{
        font-size: 20px;
    }

    @include xmd{
        font-size: 15px;
    }

    button{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 60px;
        background-color: white;
        padding: 1px 15px;
        border-radius: 30px;
        color: $primary-red;
        font-weight: 900;
        cursor: pointer;
        a{
            color: $primary-red;
        }
        @include md{
            font-size: 30px;
        }
        @include sm{
            font-size: 27px;
        }
    }
}
#modal_photo{
    background-image: url('../photos/bg.jpg'); 
    z-index: 2;
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 500px;
    background-size: cover; 
    background-position: center; 
    object-fit: contain;
    background-attachment: fixed;
    @include md{
        height: 300px;
    }
}
.loading {
    transform: rotateZ(45deg);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #ca2e2e;
    p{
        transform: translateY(80px);
      }
  }

    .loading:before,
    .loading:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loading:after {
      color: #110805;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
#loaded {
    display: none;
}

#CarmodelPage{
    padding-bottom: 20px;
    width: 100%;
    min-height: 100vh;
    @include pos.center;

    .info_box{
        width: 100%;
        h1{
            font-size: 35px;
            font-family: "Freeman", sans-serif;
            color: rgb(84, 84, 84);
            @include md{
                text-align: center;
                font-size: 30px;
            }

        }
        @include lg{
            width: 100%;
        }
        .detail{
            p{
                margin-left: 10px;
            }
            h2{
                font-size: 12px;
                margin-left: 20px;
            }
            @include md{
                justify-content: center;
            }
        }

    }

    .maincontent{
        min-height: 100vh;
        padding: 0px 120px;
        @include pos.center;
        gap: 20px;
        flex-direction: column;
        @include md{
            padding: 0px 5px;
        }
        img{
            width: 70%;
            height: 70vh;
            border-radius: 10px;
            @include lg{
                width: 55vw ;
            }
            @include md{
                width: 95vw;
                padding: 0vw;
                height: 40vh;
            }
        }
        @include xl1400(){
            padding: 0px 40px;
        }

    .detail{
        display: flex;
        align-items: center;
    }
    }

    .main_cont{
        display: flex;
        align-items: center;
        height: 90%;
        width: 100%;
        justify-content: center;
        gap: 50px;
        @include xl1400(){
            padding: 0;
        }
        @include md{
            flex-direction: column;
            padding: 0px;
        }
        h1{
            color: rgb(62, 61, 61);
            top: 60px;
            font-size: 50px;
            font-family: sans-serif;
            @include md{
                font-size: 40px;
            }
        }
        .users_info{
            width: 30%;
            border-radius: 20px;
            box-shadow: 2px 10px 10px 1px gray;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            padding: 0px 20px;
            gap: 40px;
            @include xl1400{
                width: 40%;
            }
            @include lg{
                width:35vw;
            }
            @include md{
                width: 100%;
                gap: 20px;
                height: 60vh;
            }

            #tbc{
                width: 100%;
                height: 50px;
                background-color:  rgb(0 173 238 );
                border-radius: 10px;
                border: none;
                color: white;
                font-weight: 900;
                font-size: 17px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0px 15px;
                transition: .4s ease;
                cursor: pointer;
                &:hover{
                    background-color: rgb(2, 148, 201);
                }
                
                @include md{
                    justify-content: center;
                }
            }

            #tbcs{
                width: 100%;
                height: 70px;
                background-color:  #728cfb;
                border-radius: 10px;
                border: none;
                color: white;
                font-weight: 900;
                font-size: 17px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0px 15px;
                transition: .4s ease;
                cursor: pointer;
                &:hover{
                    background-color: rgb(121, 2, 201);
                }
                a{
                    color: white;
                }
                
            }
            div{
                width: 100%;
                height: 40%;
                @include pos.center;
                flex-direction: column;
                .user_inf{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    gap: 10px;
                    font-size: 14px;
                }
                .send_box{
                    width: 100%;
                    border-radius: 10px;
                    border: none;
                    color: white;
                    font-weight: 900;
                    font-size: 16px;
                    height: 70px;
                    border: 1px solid gray;
                    margin-top: 40px;
                    color: gray;
                    flex-direction: row;
                    justify-content: start;
                    padding-left: 15px;
                    gap: 10px;
                    display: flex;
                }
                
            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }

    .desc_box{
        width: 100%;
        min-height: 10vh;
        background-color: rgb(234, 232, 228);
        border-radius: 10px;
        color: #212121;
        font-size: 12px;
        padding: 10px;
        @include lg{
            width: 100%;
        }
        h2{
            @include md{
                font-size: 14px;
                padding: 5px;
            }
        }
    }

}

.fa-trash{
    cursor: pointer;
}


@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes right-to-left {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 250px;
    }
}

@keyframes left-to-right {
    0% {
        opacity: 1;
        width: 250px;
    }

    100% {
        opacity: 0;
        width: 0;
    }
}